.pointer {
  cursor: pointer;
  user-select: none;
  pointer-events: visible !important;
}

.no-select {
  user-select: none;
  pointer-events: none;
}

//*Buttons*/

.btn{
  padding: 12px 24px;
}

.btn-black{
  background-color: black;
  color: #FFF;
}