// #region Margin with Rem
.mt-1 {
  margin-top: var(--spacing-1);
}
.mt-2 {
  margin-top: var(--spacing-2);
}
.mt-3 {
  margin-top: var(--spacing-3);
}
.mt-4 {
  margin-top: var(--spacing-4);
}
.mt-5 {
  margin-top: var(--spacing-5);
}

.mb-1 {
  margin-bottom: var(--spacing-1);
}
.mb-2 {
  margin-bottom: var(--spacing-2);
}
.mb-3 {
  margin-bottom: var(--spacing-3);
}
.mb-4 {
  margin-bottom: var(--spacing-4);
}
.mb-5 {
  margin-bottom: var(--spacing-5);
}

.me-1 {
  margin-left: var(--spacing-1);
}
.me-2 {
  margin-left: var(--spacing-2);
}
.me-3 {
  margin-left: var(--spacing-3);
}
.me-4 {
  margin-left: var(--spacing-4);
}
.me-5 {
  margin-left: var(--spacing-5);
}

.ms-1 {
  margin-right: var(--spacing-1);
}
.ms-2 {
  margin-right: var(--spacing-2);
}
.ms-3 {
  margin-right: var(--spacing-3);
}
.ms-4 {
  margin-right: var(--spacing-4);
}
.ms-5 {
  margin-right: var(--spacing-5);
}

// #endregion

// #region Margin With Pixels
.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}
.mt-110 {
  margin-top: 110px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-160 {
  margin-top: 160px;
}

.mb-60 {
  margin-bottom: 60px;
}

.my-35 {
  margin-block: 35px;
}

.my-25 {
  margin-block: 25px;
}

.my-30 {
  margin-block: 30px;
}

.my-40 {
  margin-block: 40px;
}

.my-15 {
  margin-block: 15px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

// #endregion

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-inline: auto;
}

.my-auto {
  margin-block: auto;
}