:root {

  // #region Basic Colors

  --f-bg: #FFF;
  --f-bg-bento: #ebebeb;
  --f-bg-bento-intense: #dcdcdc;

  --f-text: #333333;
  --f-placeholder: #585858;
  --f-tittle: #000;

  // #endregion


  // #region Spacing or Gap or Margin Rem

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.5rem;
  --spacing-6: 2rem;
  --spacing-7: 2.25rem;
  --spacing-8: 2.5rem;
  --spacing-9: 3rem;

  //#endregion

  // #region Font Size

  --font-size-1: clamp(12px, 5vw, 14px);  
  --font-size-2: clamp(14px, 5vw, 16px);  
  --font-size-3: clamp(16px, 5vw, 18px); 
  --font-size-4: clamp(18px, 5vw, 20px); 
  --font-size-5: clamp(20px, 5vw, 30px); 
  --font-size-6: clamp(28px, 5vw, 36px);
  --font-size-7: clamp(32px, 6vw, 48px);
  --font-size-8: clamp(44px, 7vw, 60px); 
  --font-size-9: clamp(56px, 8vw, 72px);

  //#endregion



}

.DarkMode {
  --f-bg: #000000;
  --f-bg-bento: #121212;
  --f-bg-bento-intense: #2a2a2a;

  --f-text: #d1d1d1;
  --f-placeholder: #5c5c5c;
  --f-tittle: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

svg {
  pointer-events: none;
}