input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"] {
    outline: none;
    border: solid 1px rgba(var(--lb-br), .45);
    border-radius: 4px;
    padding: .7rem 1rem;
    font-size: calc(var(--lb-multiplier) * 15px);
}