.lb-popup {
    background-color: #00000070;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}
.lb-popup-content {
    margin-top: 10px;
    scale: .95;
}


.lb-popup.active{
    pointer-events: visible;
    opacity: 1;
}

.lb-popup.active .lb-popup-content {
    animation: FadeOpenPopup 0.25s ease-in-out forwards;
}

.lb-popup-content {
    background-color: rgba(var(--lb-bg-2));
    border: solid 1px rgba(var(--lb-bg-4));
    width: 100%;
    max-width: 512px;
}

@keyframes FadeOpenPopup {
    to {
        margin-top: -20px;
        scale: 1;
    }
}

@media(550px > width) {
    .lb-popup-btn-sec {
        flex-direction: column-reverse !important;
    }
}