---
import Count from "@Apps/Count";
import Dropdown from "@Components/Dropdown";
import Dropper from "@Components/Dropper";
import { AlertPopup, ButtonPromise } from "@lifo123/library";
import { Toaster } from "@lifo123/library/Toast";
---

<script>
	const mediaQuery = window.matchMedia("(prefers-color-scheme: dark)");
	function setDarkMode(document: any) {
		const isDark = mediaQuery.matches;
		const theme =
			localStorage.getItem("F-Theme") || (isDark ? "dark" : "light");

		if (theme === "system") {
			document.documentElement.classList[isDark ? "add" : "remove"](
				"dark",
			);
			document.documentElement.style.colorScheme = isDark
				? "dark"
				: "light";
			return;
		}

		document.documentElement.classList[theme === "dark" ? "add" : "remove"](
			"dark",
		);
		document.documentElement.style.colorScheme =
			theme === "dark" ? "dark" : "light";
	}

	setDarkMode(document);

	document.addEventListener("astro:before-swap", (event) =>
		setDarkMode(event.newDocument),
	);
	mediaQuery.addEventListener("change", () => setDarkMode(document));
</script>

<html lang="en" translate="no">
	<head>
		<title>Flifo CSS</title>
		<meta name="Author" content="Lifo123" />
		<meta name="description" content="Test" />

		<meta charset="utf-8" />
		<meta name="color-scheme" content="light dark" />
		<meta name="viewport" content="width=device-width" />
		<!--Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/src/output/Flifo.css" />
		<link rel="stylesheet" href="/src/index.css" />
	</head>
	<body
		class="f-col f-justify-center f-align-center mx-auto relative w-80"
		style="max-width: 820px;"
	>
		<Toaster client:only="react" />
		<Dropper client:only="react" />
		<Count client:only="react" />
		<p class="mb-6">hola</p>
		<p class="mb-6">hola</p>
		<p class="mb-6">hola</p>
		<p class="mb-6">hola</p>
		<p class="mb-6">hola</p>
		<p class="mb-6">hola</p>
		<p class="mb-6">hola</p>
		<p class="mb-6">hola</p>
		<p class="mb-6">hola</p>
		<p class="mb-6">hola</p>
		<p class="mb-6">hola</p>
		<p class="mb-6">hola</p>
	</body>
</html>

<style>
	body{
		background-color: rgb(var(--lb-bg));
	}
</style>