.lb-popup {
    background-color: #0000008e;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1100;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease;
}

.lb-popup-div {
    scale: .96;
    bottom: 40px;
    z-index: 1100;
    transition: bottom .15s ease, scale .15s ease;
}
.lb-popup.active .lb-popup-div {
    scale: 1;
    bottom: 50px;
}

.lb-popup-content {
    max-width: 460px;
    background-color: rgba(var(--lb-bg-2));
    border: solid 1px rgba(var(--lb-br), 0.4);
}

.lb-popup-content .btn {
    min-width: 140px;
}

.lb-popup.active {
    opacity: 1;
    pointer-events: visible;
}

@media(550px > width) {
    .lb-popup-content {
        width: 95%;
    }

    .lb-popup-btn-sec {
        flex-direction: column-reverse !important;
    }
}


.lb-loading-indicator {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.lb-circular-root {
    display: inline-block;
    animation: rotate 1.5s linear infinite;
    aspect-ratio: 1/1;
}

.lb-circular-root svg {
    width: 100%;
    height: 100%;
}

.lb-circular-root circle {
    stroke-dasharray: 80, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

/* Animación de rotación */
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

/* Animación del trazo */
@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 100, 200;
        stroke-dashoffset: -15px;
    }

    100% {
        stroke-dasharray: 80, 200;
        stroke-dashoffset: -125px;
    }
}