.pointer {
  cursor: pointer;
  user-select: none;
  pointer-events: visible !important;
}

.no-select {
  user-select: none;
  pointer-events: none;
}

//*Buttons*/

.btn{
  padding: 12px 24px;
  min-width: max-content;
}
.btn-br{
  border: solid 1px var(--f-tittle);
}
.btn-black{
  background-color: black;
  color: #FFF;
}