// #region FontWeight
.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

// #endregion

.fs-1 {
    font-size: var(--font-size-1);
}

.fs-2 {
    font-size: var(--font-size-2);
}

.fs-3 {
    font-size: var(--font-size-3);
}

.fs-4 {
    font-size: var(--font-size-4);
}

.fs-5 {
    font-size: var(--font-size-5);
}

.fs-6 {
    font-size: var(--font-size-6);
}

.fs-7 {
    font-size: var(--font-size-7);
}

.fs-8 {
    font-size: var(--font-size-8);
}

.fs-9 {
    font-size: var(--font-size-9);
}




/*Font Color*/
.text-center {
    text-align: center ;
}

.text-left {
    text-align: start ;
}

.text-right {
    text-align: end;
}

.text-justify{
    text-align: justify;
}