:root {

  // #region Basic Colors

  --f-bg: #FFF;
  --f-bg-bento: #ebebeb;
  --f-bg-bento-intense: #dcdcdc;

  --f-text: #333333;
  --f-placeholder: #585858;
  --f-tittle: #000;

  --f-text-blue: #0c77e2;
  --f-text-red: #e10e0e;
  --f-text-green: #03d624;
  --f-text-yellow: #edd90c;
  --f-text-oragen: #fc6704;
  --f-text-purple: #6731ff;
  --f-text-pink: #e40bbf;

  // #endregion


  // #region Spacing or Gap or Margin Rem

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2.25rem;
  --spacing-6: 3rem;
  --spacing-7: 3.75rem;
  --spacing-8: 4.5rem;
  --spacing-9: 5.75rem;
  --spacing-10: 6.5rem;
  --spacing-11: 7rem;
  --spacing-12: 8rem;

  //#endregion

  // #region Font Size

  --font-size-1: clamp(12px, 5vw, 14px);
  --font-size-2: clamp(14px, 5vw, 16px);
  --font-size-3: clamp(16px, 5vw, 18px);
  --font-size-4: clamp(20px, 5vw, 20px);
  --font-size-5: clamp(24px, 4vw, 30px);
  --font-size-6: clamp(28px, 5vw, 36px);
  --font-size-7: clamp(32px, 5.8vw, 45px);
  --font-size-8: clamp(40px, 7vw, 56px);
  --font-size-9: clamp(52px, 7.6vw, 66px);
  --font-size-10: clamp(60px, 8vw, 68px);
  --font-size-11: clamp(68px, 8.6vw, 88px);
  --font-size-12: clamp(70px, 9vw, 96px);

  //#endregion



}

.DarkMode {
  --f-bg: #000000;
  --f-bg-bento: #121212;
  --f-bg-bento-intense: #2a2a2a;

  --f-text: #d1d1d1;
  --f-placeholder: #5c5c5c;
  --f-tittle: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: var(--f-text);
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--f-bg);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

svg {
  pointer-events: none;
}

p {
  margin-bottom: 16px;
}