.toaster-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 2000;
}

.toast-row {
    width: max-content;
    min-width: 330px;
    max-width: 470px;
    border: solid 1px rgba(var(--lb-br), 0.4);
    background-color: rgba(var(--lb-bg-2));
    opacity: 1;
    padding: .75rem 1.2rem;
    pointer-events: visible;
    transition: top .3s ease, opacity .3s ease, bottom .3s ease;
}
@media(prefer-reduced-motion: reduce) {
    .toast-row {
        transition: none !important;
    }
}

.toast-row .info {
    padding: .15rem;
    font-weight: 500;
    color: var(--lb-hsl-primary);
    transition: background-color .2s ease;
}

.toast-row .info:hover {
    background-color: hsl(var(--lb-hue), var(--lb-sat), var(--lb-light), .1);
}


.toast-icon {
    height: 24px;
    aspect-ratio: 1/1;
}

.toast-row[data-animate="false"] {
    transition: none;
}

.toast-row.delete {
    opacity: 0;
}

.toast-row[data-axis-x="center"] {
    left: 50%;
    transform: translateX(-50%);
}

.toast-row[data-axis-x="left"] {
    left: 1rem;
}

.toast-row[data-axis-x="right"] {
    right: 1rem;
}

.toast-row.visible.normal[data-axis-y="top"] {
    top: 1.3rem;
}

.toast-row.delete.normal[data-axis-y="top"] {
    top: -1rem;
}

.toast-row.visible.normal[data-axis-y="bottom"] {
    bottom: 1.3rem;
}

.toast-row.delete.normal[data-axis-y="bottom"] {
    bottom: -4rem;
}